<!DOCTYPE html>
<html>
<head>
	<title>Number Button</title>
</head>
<body>
	<h1>Number: {{ num }}</h1>
	<form method="POST" action="{{ url_for('update') }}">
		<input type="hidden" name="num" value="{{ num }}">
		<input type="hidden" name="button_color" value="{{ button_color }}">
		<button type="submit" style="background-color:{{ button_color }};">Button</button>
	</form>
</body>
</html>





{# Code 1 - add subtract button #}

{#<!DOCTYPE html>#}
{#<html lang="en"><head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Flask Counter</title>#}
{#</head>#}
{#<body>#}
{#    <h1>Number: {{ num }}</h1>#}
{#    <form method="POST">#}
{#        <button type="submit" name="submit" value="add">Add 1</button>#}
{#        <button type="submit" name="submit" value="subtract">Subtract 1</button>#}
{#        <input type="hidden" name="num" value="{{ num }}">#}
{#    </form>#}
{#</body>#}
{#</html>#}
